/* мій хедер */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
}

ul,
ol {
    list-style: none
}

.logo {
    color: #4D5AE5;
    font-size: 18px;
}

.full-logo {
    font-size: 18px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-color-one {
    color: #2e2f42;
}

a {
    text-decoration: none;
}

.nav-list-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav :hover,
.nav :focus {
    color: #404bbf;
}

.nav-list-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-list-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mail {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.telephone {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.description {
    font-style: normal;
}

.description :hover,
.description :focus {
    color: #404bbf;
}

/* кінець хедера */

/* секція перша */
.logo-name {
    color: #ffffff;
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button-style {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
}

.button-style:hover,
.button-style:focus {
    background-color: #404BBF;
}

/* кінець першої секції */

/* секція два */
.our-advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* кінець другої секції */

/* секція три */

.section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02;
    color:#2E2F42;
    text-transform: capitalize;
    text-align: center;
    background-color: #F4F4FD;
}

.section-color {
    background-color: #FFFFFF;
}

.first-man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2E2F42;
}

.first-man-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

.two-man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2E2F42;
}

.two-man-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

.three-man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2E2F42;
}

.three-man-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

.four-man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2E2F42;
}

.four-man-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

/* кінець третьої секції */

/* секція четверта */
.tag-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
}

.firstapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.firsttext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color:#434455;
}

.twoapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.twotext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color: #434455;
}

.threeapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.threetext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color: #434455;
}

.fourapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.fourtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color: #434455;
}

.fiveapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.fivetext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color: #434455;
}

.sixapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.sixtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 15;
    letter-spacing: 0.02;
    color: #434455;
}

/* кінець четвертої секції */

/* мій футер */
.footer {
    background-color: #2E2F42;
    font-family: Raleway;
}

.studio-color-two {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.logofooter {
    color: #ffffff;
}
/* кінець футера */