
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    
}

/* Загальні правила */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.containter {
    width: 1168px;
    /* outline: solid red; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.section {
    padding-bottom: 120px;
}

/*  Кінець загальних правил */


/* мій хедер */

.header-nav {
padding-bottom: 24px;
padding-top:24px;
display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.full-logo {
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-color-one {
    color: #2e2f42;
}

.nav {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}

.nav-list-one {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav :hover,
.nav :focus {
    color: #404bbf;
}

.mail {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list {
    display: flex;
    gap: 40px;
}

.description {
    font-style: normal;
    margin-left: auto; 
}

.description :hover,
.description :focus {
    color: #404bbf;
}

/* кінець хедера */

/* секція перша */

.logo-name-color {
background-color:#2e2f42;
padding-top: 188px;
padding-bottom: 188px;
border: 1px solid #000;
}

.logo-name {
    display: block;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    justify-self: center; 
}

.button-style {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    min-height: 56px;
    padding:14px 32px;
    border-radius: 4px;
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

.button-style:hover,
.button-style:focus {
    background-color: #404BBF;

}

/* кінець першої секції */

/* секція два */

.advantages-list {
    display:flex;
    gap: 24px;
}

.our-advantages-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.our-advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

/* кінець другої секції */

/* секція три */

.section-team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
}

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px; 
    margin-bottom: 8px; 
}

.team-img {
    width: 264px;
    height: 260px;
}



.section-team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2E2F42;
    text-align: center;
    padding-top:120px;
    margin-bottom: 72px;
}

.section-color {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 1px 6px 0 rgb(46 47 66 / 8%);
}


/* кінець третьої секції */

/* секція четверта */
.portfolio-img {
    width: 360px;
    height: 300px;  
}

.portfolioadds {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    margin-bottom: 120px; 
}

.our-advantages-block {
    padding-left: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

/* мій футер */
.footer {
    background-color: #2E2F42;
    font-family: Raleway;
}

.footer {
padding-top:100px;
padding-bottom: 100px;
}

.studio-color-two {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-family: "Roboto";
    width: 264px;
    margin-top: 16px;
}

/* кінець футера */


