body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    }

ul, ol {
    list-style: none
    }

.logo {
    color:#4D5AE5;
    font-size: 18px;
}

.full-logo {
    font-size: 18px;
    color:#4d5ae5;
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-color-one {
    color: #2e2f42;
}

a {
    text-decoration: none;
}

.nav-list-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav :hover,
.nav :focus {
    color: #404bbf;
}

.nav-list-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-list-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mail  {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.telephone {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.description {
    font-style: normal;
}

.description :hover,
.description :focus {
    color: #404bbf;
}

/* секція 2 */
.logo-name  {
    color: #ffffff;
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button-style {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
}

.button-style:hover,
.button-style:focus {
    background-color: #404BBF;
}

.titles h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.tittles p {
    color:#2e2f42; 
    letter-spacing: 0.02em; 
}

/*  кінець 2 секції */
.section-team h2 {
    background-color: #F4F4FD;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42; 
    letter-spacing: 0.02em;
    font-size: 36px;
} 

.firstman h3 {
font-size: 20px;
background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42; 
}

.firstman p {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.twoman h3 {
    font-size: 20px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.twoman p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

.threeman h3 {
    font-size: 20px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.threeman p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.fourman h3 {
    font-size: 20px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.fourman p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




.tag-portfolio h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolioadds h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.portfolioadds p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer  {
    background-color: #2E2F42;
    font-family: Raleway; 
}
.studio-color-two {
    color: #f4f4fd; 
}

.footer-text {
    color:#F4F4FD;
    letter-spacing: 0.02em;
}

.logofooter {
    color:#ffffff;
}

.our-advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}